<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855378528411-10fjm63hnpttmge0aedjtijv0sj9ppju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855378528411-10fjm63hnpttmge0aedjtijv0sj9ppju</string>
	<key>API_KEY</key>
	<string>AIzaSyAZB_Gt00iiEAWYto4-55l32vOOQnQyQxA</string>
	<key>GCM_SENDER_ID</key>
	<string>855378528411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ohood.BeltExam</string>
	<key>PROJECT_ID</key>
	<string>belt-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>belt-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855378528411:ios:4449139e686517e75ade3e</string>
</dict>
</plist>